<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Leave Application</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<header th:insert="Fragment/Header::header"></header>
<br>
<br>
<div class="container">
	<table class="table table-bordered">
		<thead>
		<tr>
			<th scope="col">Employee Id</th>
			<th scope="col">Name</th>
			<th scope="col">Job Title</th>
			<th scope="col">Department</th>
			<th scope="col">Leave Type</th>
			<th scope="col">Total Days</th>
			<th scope="col">Email</th>
			<th scope="col">Leave Reason</th>
			<th scope="col">Phone Number</th>
			<th scope="col">HR Status</th>
			<th scope="col">Action</th>
		</tr>
		</thead>
		<tbody class="table-group-divider">
		<tr th:each="applications:${Applications}">
			<td scope="row" th:text="${applications.employee_id}"></td>
			<td th:text="${applications.full_name}"></td>
			<td th:text="${applications.job_title}"></td>
			<td th:text="${applications.department}"></td>
			<td th:text="${applications.leave_type}"></td>
			<td th:text="${applications.total_days}"></td>
			<td th:text="${applications.email}"></td>
			<td th:text="${applications.leave_reason}"></td>
			<td th:text="${applications.phone}"></td>
			<td th:text="${applications.manager_approval}"></td>
			<td >
				<div class="row">
					<a class="btn btn-outline-danger btn-sm" th:href="@{/api/v3/Disapproval/{id}(id=${applications.id})}" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
						Disapprove</a>
					<a class="btn btn-outline-success btn-sm" th:href="@{/api/v3/Approval/{id}(id=${applications.id})}" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
						Approve</a>
				</div>
			</td>
		</tr>
		</tbody>
	</table>
</div>
<div th:insert="Fragment/Footer::footer"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>